.error {
    display: flex;
    flex-direction: column;

    .error-title {
        color: #EE5F5B;
        font-size: calc(5px + 2vmin);
    }
    .error-text {
        color: white;
        font-size: calc(10px + 2vmin);
    }
}