.user-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .user-data-main {
        display: flex;
        flex-direction: column;
    }
    
    .logout-button {
        padding: 1vmin 2vmin;
        color: #f89406;
        background: none;
        border: 1px solid;
        border-color: #f89406;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            color: white;
            background-color: #f89406;
        }
        
        &:focus {
            color: white;
            background-color: #f89406;
        }
    }
}