.game-data {
    background-color: #303136;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  .game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  
    .game-header {
      border-radius: 5px;
      background-color: #363940;
      flex-direction: row;
      display: flex;
      padding: 20px;
      gap: 20px;
  
      .game-image {
        width: 100%;
        border-radius: 5px;
      }
      .game-info {
        font-size: calc(1px + 2vmin);
        text-align: left;
        color: white;
      }
    }
    .game-body {
      border-radius: 5px;
      background-color: #363940;
      text-align: left;
      display: flex;
      padding: 20px;
      gap: 20px;
  
      .game-about {
        width: 50%;
      }
      .game-title {
        font-size: calc(4px + 2vmin);
        color: #e0e0e0;
      }
      .game-description {
        font-size: calc(1px + 2vmin);
        color: #e0e0e0;
      }
      .game-buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
  
        .claim-button {
          display: inline-block;
          padding: 10px 20px;
          font-size: calc(5px + 2vmin);
          color: #F89406;
          border: 1px solid #F89406;
          text-align: center;
          text-decoration: none;
          border-radius: 5px;
          margin-top: 10px;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #F89406;
            color: black;
          }
        }
        .regular-button {
          display: inline-block;
          padding: 10px 20px;
          font-size: calc(5px + 2vmin);
          color: #4caf50;
          border: 1px solid #4caf50;
          text-decoration: none;
          border-radius: 5px;
          margin-top: 10px;
          transition: background-color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            background-color: #4caf50;
            color: white;
          }
        }
        .button-ico {
          margin-right: 5px;
        }
      }
    }
  }