.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363940;
    box-shadow: 1px 1px 1px black;
    color: #fff;
    position: sticky;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 100;
    top: 0;
    text-wrap: nowrap;
  }
  
  .navbar-left{
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-ico {
      height: calc(30px + 2vmin);
    }

    .logo-text {
      font-size: calc(10px + 2vmin);
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      margin-right: 1rem;
    }
  }
  
  .navbar-center {
    .nav-links {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-right: 1rem;
        display: flex;
        justify-content: center;
      }
      li:last-child {
        margin-right: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: calc(4px + 2vmin);
      }
    }
  }
  
  .navbar-right {
    display: flex;
    align-items: center;

    .cart-icon {
      color: #fff;
      text-decoration: none;
      margin-left: 1rem;
      font-size: calc(4px + 2vmin);
    }

    .user-icon {
      color: #fff;
      text-decoration: none;
      margin-left: 1rem;
      font-size: calc(4px + 2vmin);
    }
  }