.footer-container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1rem;
    background-color: #2a2b2f;
}

.footer-links li {
    line-height: 2rem;
    text-align: left;

    a {
        color: white;
    }
}

.logo-container {
    align-items: center;
    display: flex;
    width: auto;

    img {
        width: 5rem;
    }
}

.footer-text {
    background-color: #111;

    a {
        color: white;
    }

    a:hover {
        color: grey;
    }
}